html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  max-width: 1440px;
  background: url("../images/bg-desktop.svg") center center no-repeat;
  background-color: hsl(257, 40%, 49%);
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "huddle-page about"
    "footer footer";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: auto auto;
}
.header {
  grid-area: header;
}
.header a img {
  margin-top: 50px;
}
.huddle-page {
  grid-area: huddle-page;
  display: flex;
  justify-content: center;
  align-items: center;
}
.huddle-page img {
  width: 100%;
  height: auto;
}
.about {
  font-family: "Poppins", sans-serif;
  grid-area: about;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 620px;
}
.about .info {
  margin: 30px;
  display: flex;
  flex-direction: column;
}
.about .info h1 {
  font-weight: 600;
  font-size: 4rem;
  color: #fff;
  margin: 15px;
}
.about .info p {
  font-weight: 400;
  font-size: 1.7rem;
  color: #fff;
  margin: 15px;
}
.about .info .btn-register {
  margin: 15px;
  align-self: flex-start;
  font-size: 2rem;
  padding: 10px 70px;
  background-color: #fff;
  border-radius: 30px;
  transition: 0.5s;
}
.about .info .btn-register:hover {
  color: #fff;
  background-color: hsl(300, 69%, 71%);
}
.footer {
  grid-area: footer;
  display: flex;
  justify-content: flex-end;
}
.footer nav ul {
  display: flex;
}
.footer nav ul li a{
  margin: 20px;
  height: 44px;
  width: 44px;
  text-align: center;
}
.footer .icon {
  transition: 0.4s;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
}
.footer .icon i {
  font-size: 2rem;
  margin: 5px; 
}
.footer .icon:hover {
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
}

